$font-family: 'Rubik', sans-serif;
$font-size: 18px;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

$desktop-width: 1440px;
$mobile-width: 375px;

$primary-very-dark-gray: hsl(0, 0%, 17%);
$primary-light-gray: hsl(0, 0%, 59%);