@import "../../../global/variables.scss";

.card-container {
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: auto;
    padding: 0 3rem;
    width: 1012px;
    max-width: 100%;


    &__info {
        font-size: .8rem;
        font-weight: 500;
        color: #fff;
        margin: 0 0 .3rem .3rem;
    }

    @media only screen and (max-width: 1024px) {
        & {
            width: 820px;
        }
    }
    @media only screen and (max-width: 768px) {
        & {
            width: 602px;
        }
    }

    @media only screen and (max-width: 425px) {
        & {
            top: 135px;
            width: 602px;
            padding: 0 2rem;
        }
    }

    .card-wrapper {
        max-width: 100%;
        border-radius: 0.8rem;
        overflow: hidden;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 1.5rem;
        background-color: #ffffff;
        box-shadow: 0 1.5rem 2.77rem -2.77rem $primary-light-gray;


        @media only screen and (max-width: 1024px) {
            & {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;
            }
        }
        
        @media only screen and (max-width: 768px) {
            & {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 1rem;
                text-align: center;
                padding: 1rem;
            }
        }
    }
}
