.footer {
    padding: .5rem;
    display: flex;
    align-items: center;

    span {
        color: red;
    }

    p, a {
        font-size: .8rem;
        margin-right: 1rem;
        text-decoration: none;
    }

    a {
        color: lightseagreen;
    }

    @media only screen and (max-width: 320px) {
        & {
            flex-wrap: wrap;
            a {
                margin-top: .5rem;
            }
        }
    }

}