@import "../../../global/variables.scss";

:root, * {
    font-size: 18px;
    font-family: $font-family;
    
}

#root {
    height: 100%;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    max-width: $desktop-width;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
